[Desktop Entry]
Encoding=UTF-8
Exec=/home/jay/.local/bin/docker-deb-start-0.0.4 debian-netsurf-packager
Icon=/home/jay/.local/share/icons/packager64.png
Type=Application
Terminal=false
GenericName=NetSurf Packager
Name=NetSurf Packager
StartupNotify=false
Categories=Network
